.image-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0px;
}

#result-img{
    display: inline;
    width: 80%;
}

#download-btn{
    outline: none;
    background: none;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    background-color: var(--title);
    color: white;
    margin: 0 20px 0 10%;
    cursor: pointer;
}

.info-section{
    margin-top: 50px;
    width: 100%;
    
}

#desc {
    display: block;
    margin-left: 10%;
}