.navbar-container{
    display: block;
    height: 60px;
    box-shadow: 1px 2px 15px rgb(100 100 100 / 30%);
    
}

.navItems{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navItems > * {
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--black-text);
    font-size: 1.5vw;
    overflow: hidden;
}

.navbar-underline{
    transform: translateX(-100%);
    transition: 0.3s linear;
    border: 1px solid red;
}

.navItems > *:hover > .navbar-underline{
    transform: translateX(100%);
}
